* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: #272822;
  color: #E6C450;
  padding: 20px; }
  body #info {
    margin: 20px 0px; }
  body #field {
    width: 400px;
    margin: 20px 0px;
    display: inline-block; }
    body #field::after {
      content: "";
      display: block;
      clear: both; }
    body #field div {
      width: 50px;
      height: 50px;
      background-color: #999;
      float: left;
      text-align: center;
      border: 2px solid transparent; }
      body #field div.white {
        background-color: #fff; }
      body #field div.active {
        border: 2px solid #bada55; }
      body #field div span {
        color: #000;
        font-size: 30px;
        line-height: 40px;
        display: inline-block;
        width: 100%;
        height: 50px;
        padding: 5px 0px;
        cursor: pointer; }
